body {
  font-size: 2em;
  user-select: none;
}

.main {
  max-width: 400px;
  background-color: #f3f2f2;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #adadad;
  box-shadow: 10px 10px 5px #6d6a6a;
}

.screen {
  background-color: #b5d4b5;
  height: 2.5em;
  border-radius: 10px;
  border: 2px solid #b5a2a2;
  margin-top: 30px;
}

p {
  text-align: end;
  margin-right: 10px;
  padding-top: 8px;
}

.mainButtonContainer {
  display: flex;
}

.buttonContainer {
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.topButtonContainer {
  display: flex;
  margin-top: 50px;
}

.sideButtonContainer {
  flex-grow: 1;
  order: 2;
}

.sideButtonContainer .numButton {
  width: 100%;
  height: 50%;
}

.sideButtonContainer .innerButton {
  height: 95%;
}

.numButton {
  width: calc(100% / 3);
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerButton {
  position: relative;
  background-color: #5f5959;
  color: #fff;
  text-align: center;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px #383333;
}

.innerButton:active {
  box-shadow: unset;
  height: calc(90% - 1px);
  width: calc(80% + 3px);
  transform: translateY(3px);
}

span {
  cursor: default;
}

.numButton[itemprop="0"] {
  flex-grow: 2;
}

.numButton[itemprop="0"] .innerButton {
  width: 90%;
}

.buttonSpan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}